# Data Wrangling: Join, Combine,

In [1]:
import numpy as np
import pandas as pd
pd.options.display.max_rows = 20
np.random.seed(12345)
import matplotlib.pyplot as plt
plt.rc('figure', figsize=(10, 6))
np.set_printoptions(precision=4, suppress=True)

## Hierarchical Indexing

In [ ]:
data = pd.Series(np.random.randn(9),
                 index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
                        [1, 2, 3, 1, 3, 1, 2, 2, 3]])
data

In [ ]:
data.index

In [ ]:
idx = data.index
type(idx)

* 부분적 색인으로 접근 partial indexing

In [ ]:
data['b']

In [ ]:
data['b':'c']

In [ ]:
data.loc[['b', 'd']]

In [ ]:
data.loc[:, 2]

In [ ]:
data

In [ ]:
data.unstack()

In [ ]:
data.unstack().stack()

In [ ]:
frame = pd.DataFrame(np.arange(12).reshape((4, 3)),
                     index=[['a', 'a', 'b', 'b'], [1, 2, 1, 2]],
                     columns=[['Ohio', 'Ohio', 'Colorado'],
                              ['Green', 'Red', 'Green']])
frame

In [ ]:
frame.index.names = ['key1', 'key2']
frame.columns.names = ['state', 'color']
frame

In [ ]:
frame.columns

In [ ]:
type(frame.index)

In [ ]:
frame['Ohio']

MultiIndex.from_arrays([['Ohio', 'Ohio', 'Colorado'], ['Green', 'Red', 'Green']],
                       names=['state', 'color'])

In [ ]:
midx = pd.MultiIndex.from_arrays([['Ohio', 'Ohio', 'Colorado'], ['Green', 'Red', 'Green']],
                       names=['state', 'color'])

In [ ]:
fm = pd.DataFrame(np.arange(12).reshape((4, 3)),
                     index=[['a', 'a', 'b', 'b'], [1, 2, 1, 2]],
                     columns=midx)
fm

### Reordering and Sorting Levels

In [ ]:
frame

In [ ]:
frame.swaplevel('key1', 'key2')

In [ ]:
frame

In [ ]:
frame.swaplevel('key2', 'key1')

In [ ]:
frame

In [ ]:
frame.sort_index(level=1)

In [ ]:
frame.sort_index(level='key2')

In [ ]:
frame.sort_index()

In [ ]:
frame.sort_index(axis=1)

In [ ]:
frame.sort_index(axis=1, level='color')

In [ ]:
frame.swaplevel(0, 1).sort_index(level=0)

### Summary Statistics by Level

In [ ]:
frame

In [ ]:
frame.sum(level='key2')

In [ ]:
frame.sum(level='color', axis=1)

In [ ]:
frame.sum(level='key1')

In [ ]:
frame.sum(level='state', axis=1)

### Indexing with a DataFrame's columns

In [ ]:
frame = pd.DataFrame({'a': range(7), 'b': range(7, 0, -1),
                      'c': ['one', 'one', 'one', 'two', 'two',
                            'two', 'two'],
                      'd': [0, 1, 2, 0, 1, 2, 3]})
frame

In [ ]:
frame2 = frame.set_index(['c', 'd'])
frame2

In [ ]:
frame2.set_index('a')

In [ ]:
frame.set_index(['c', 'd'], drop=False)

In [ ]:
frame2

In [ ]:
frame2.reset_index()

## Combining and Merging Datasets

### Database-Style DataFrame Joins

In [ ]:
df1 = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'a', 'b'],
                    'data1': range(7)})
df1

In [ ]:
df2 = pd.DataFrame({'key': ['a', 'b', 'd'],
                    'data2': range(3)})
df2

In [ ]:
pd.merge(df1, df2)

In [ ]:
pd.merge(df1, df2, on='key')

In [ ]:
df3 = pd.DataFrame({'lkey': ['b', 'b', 'a', 'c', 'a', 'a', 'b'],
                    'data1': range(7)})
df3

In [ ]:
df3.sort_values(by=['lkey'])

In [ ]:
df = pd.DataFrame({
    'col1': ['A', 'A', 'B', np.nan, 'D', 'C'],
    'col2': [2, 1, 9, 8, 7, 4],
    'col3': [0, 1, 9, 4, 2, 3],
    })
df

In [ ]:
df.sort_values(by=['col1'])

In [ ]:
df3.sort_values(by=['lkey'])

In [ ]:
df4 = pd.DataFrame({'rkey': ['a', 'b', 'd'],
                    'data2': range(3)})
df4

In [ ]:
pd.merge(df3, df4, left_on='lkey', right_on='rkey')

In [ ]:
pd.merge(df1, df2, how='outer')

In [ ]:
df1 = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'b'],
                    'data1': range(6)})
df1

In [ ]:
df2 = pd.DataFrame({'key': ['a', 'b', 'a', 'b', 'd'],
                    'data2': range(5)})

df2

In [ ]:
pd.merge(df1, df2, on='key', how='left')

In [ ]:
pd.merge(df1, df2, how='inner')

In [ ]:
left = pd.DataFrame({'key1': ['foo', 'foo', 'bar'],
                     'key2': ['one', 'two', 'one'],
                     'lval': [1, 2, 3]})
left

In [ ]:
right = pd.DataFrame({'key1': ['foo', 'foo', 'bar', 'bar'],
                      'key2': ['one', 'one', 'one', 'two'],
                      'rval': [4, 5, 6, 7]})
right

In [ ]:
pd.merge(left, right, on=['key1', 'key2'], how='outer')

In [ ]:
pd.merge(left, right, how='outer')

In [ ]:
pd.merge(left, right, how='outer', indicator=True)

In [ ]:
pd.merge(left, right)

In [ ]:
pd.merge(left, right, on='key1')

In [ ]:
pd.merge(left, right, on='key1', suffixes=('_left', '_right'))

In [ ]:
pd.merge?

In [ ]:
pd.merge(left, right, on='key1', suffixes=('_left', '_right'), indicator=True)

### Merging on Index

In [ ]:
left1 = pd.DataFrame({'key': ['a', 'b', 'a', 'a', 'b', 'c'],
                      'value': range(6)})
left1.sort_values(by=['key'])

In [ ]:
right1 = pd.DataFrame({'group_val': [3.5, 7]}, index=['a', 'b'])
right1

In [ ]:
pd.merge(left1, right1, left_on='key', right_index=True, indicator=True)

In [ ]:
pd.merge(left1, right1, left_on='key', right_index=True, how='outer', indicator=True)

In [ ]:
lefth = pd.DataFrame({'key1': ['Ohio', 'Ohio', 'Ohio',
                               'Nevada', 'Nevada'],
                      'key2': [2000, 2001, 2002, 2001, 2002],
                      'data': np.arange(5.)})
lefth

In [ ]:
righth = pd.DataFrame(np.arange(12).reshape((6, 2)),
                      index=[['Nevada', 'Nevada', 'Ohio', 'Ohio',
                              'Ohio', 'Ohio'],
                             [2001, 2000, 2000, 2000, 2001, 2002]],
                      columns=['event1', 'event2'])
righth

In [ ]:
pd.merge(lefth, righth, left_on=['key1', 'key2'], right_index=True)

In [ ]:
pd.merge(lefth, righth, left_on=['key1', 'key2'],
         right_index=True, how='outer')

In [ ]:
left2 = pd.DataFrame([[1., 2.], [3., 4.], [5., 6.]],
                     index=['a', 'c', 'e'],
                     columns=['Ohio', 'Nevada'])
left2

In [ ]:
right2 = pd.DataFrame([[7., 8.], [9., 10.], [11., 12.], [13, 14]],
                      index=['b', 'c', 'd', 'e'],
                      columns=['Missouri', 'Alabama'])

right2

In [ ]:
pd.merge(left2, right2, how='outer', left_index=True, right_index=True, indicator=True)

## join()은 인덱스를 사용한 merge()

In [ ]:
left2

In [ ]:
right2

In [ ]:
left2.join(right2, how='outer')

In [ ]:
pd.merge(left2, right2, how='outer', left_index=True, right_index=True) #위와 동일

In [ ]:
left1

In [ ]:
right1

In [ ]:
left1.join(right1, on='key')

In [ ]:
pd.merge(left1, right1, how='left', left_on='key', right_index=True) #위와 동일

In [ ]:
another = pd.DataFrame([[7., 8.], [9., 10.], [11., 12.], [16., 17.]],
                       index=['a', 'c', 'e', 'f'],
                       columns=['New York', 'Oregon'])
another

In [ ]:
left2

In [ ]:
right2

In [ ]:
left2.join([right2, another])

In [ ]:
left2.join([right2, another], how='outer')

### Concatenating Along an Axis

In [ ]:
arr = np.arange(12).reshape((3, 4))
arr

In [ ]:
np.concatenate([arr, arr], axis=1)

In [ ]:
np.concatenate([arr, arr], axis=0)

In [ ]:
np.concatenate([arr, arr])

In [ ]:
s1 = pd.Series([0, 1], index=['a', 'b'])
s1

In [ ]:
s2 = pd.Series([2, 3, 4], index=['c', 'd', 'e'])
s2

In [ ]:
s3 = pd.Series([5, 6], index=['f', 'g'])
s3

In [ ]:
pd.concat([s1, s2, s3])

In [ ]:
pd.concat([s1, s2, s3], axis=1)

In [ ]:
s1

In [ ]:
s3

In [ ]:
s4 = pd.concat([s1, s3])
s4

In [ ]:
s1

In [ ]:
s4

In [ ]:
pd.concat([s1, s4], axis=1) # join='inner'가 기본

In [ ]:
pd.concat([s1, s4], axis=1, join='inner')

In [ ]:
pd.concat?

In [ ]:
#pd.concat([s1, s4], axis=1, join_axes=[['a', 'c', 'b', 'e']]) #오류

In [ ]:
result = pd.concat([s1, s1, s3], keys=['one', 'two', 'three'])
result

In [ ]:
result.unstack()

In [ ]:
pd.concat([s1, s2, s3], axis=1, keys=['one', 'two', 'three'])

In [ ]:
df1 = pd.DataFrame(np.arange(6).reshape(3, 2), index=['a', 'b', 'c'],
                   columns=['one', 'two'])
df1

In [ ]:
df2 = pd.DataFrame(5 + np.arange(4).reshape(2, 2), index=['a', 'c'],
                   columns=['three', 'four'])
df2

In [ ]:
pd.concat([df1, df2], axis=1, keys=['level1', 'level2'])

In [ ]:
pd.concat({'level1': df1, 'level2': df2}, axis=1)

In [ ]:
pd.concat([df1, df2], axis=1, keys=['level1', 'level2'],
          names=['upper', 'lower'])

In [ ]:
df1 = pd.DataFrame(np.random.randn(3, 4), columns=['a', 'b', 'c', 'd'])
df1

In [ ]:
df2 = pd.DataFrame(np.random.randn(2, 3), columns=['b', 'd', 'a'])
df2

In [ ]:
pd.concat([df1, df2], ignore_index=True)

In [ ]:
pd.concat([df1, df2], ignore_index=False)

In [ ]:
pd.concat([df1, df2])

* append()

In [ ]:
df1.append?

In [ ]:
df = pd.DataFrame([[1, 2], [3, 4]], columns=list('AB'))
df

In [ ]:
df2 = pd.DataFrame([[5, 6], [7, 8]], columns=list('AB'))
df2

In [ ]:
df.append(df2)

In [ ]:
pd.concat([df, df2])

In [ ]:
df.append(df2, ignore_index=True)

In [ ]:
df = pd.DataFrame([[1, 2, 3], [4, 5, 6]], columns=list('ABC'))
df

In [ ]:
df2 = pd.DataFrame([[5, 6], [7, 8]], columns=list('AB'))
df2

In [ ]:
df.append(df2)

In [ ]:
pd.concat([df, df2])

In [ ]:
df = pd.DataFrame([[1, 2, 3], [4, 5, 6]], columns=list('ABC'))
df

In [ ]:
df2 = pd.DataFrame([[5, 6, 7], [8, 9, 10]], columns=list('ABD'))
df2

In [ ]:
df.append(df2)

In [ ]:
pd.concat([df, df2])

### Combining Data with Overlap

In [ ]:
a = pd.Series([np.nan, 2.5, np.nan, 3.5, 4.5, np.nan],
              index=['f', 'e', 'd', 'c', 'b', 'a'])
b = pd.Series(np.arange(len(a), dtype=np.float64),
              index=['f', 'e', 'd', 'c', 'b', 'a'])
b[-1] = np.nan

In [ ]:
a

In [ ]:
b

In [ ]:
np.where(pd.isnull(a), b, a) #a의 값이 널이면 b, 아니면 a(자기 자신)로

In [ ]:
b[:-2].combine_first(a[2:])

In [ ]:
df1 = pd.DataFrame({'a': [1., np.nan, 5., np.nan],
                    'b': [np.nan, 2., np.nan, 6.],
                    'c': range(2, 18, 4)})
df2 = pd.DataFrame({'a': [5., 4., np.nan, 3., 7.],
                    'b': [np.nan, 3., 4., 6., 8.]})

In [ ]:
df1

In [ ]:
df2

In [ ]:
df1.combine_first(df2)

## Reshaping and Pivoting

### Reshaping with Hierarchical Indexing

In [ ]:
data = pd.DataFrame(np.arange(6).reshape((2, 3)),
                    index=pd.Index(['Ohio', 'Colorado'], name='state'),
                    columns=pd.Index(['one', 'two', 'three'],
                    name='number'))
data

In [ ]:
result = data.stack()
result

In [ ]:
result.index

In [ ]:
result.unstack()

In [ ]:
result.unstack(0) #unstack('number')

In [ ]:
result.unstack('state')

In [ ]:
s1 = pd.Series([0, 1, 2, 3], index=['a', 'b', 'c', 'd'])
s2 = pd.Series([4, 5, 6], index=['c', 'd', 'e'])
s1

In [ ]:
s2

In [ ]:
data2 = pd.concat([s1, s2], keys=['one', 'two'])
data2

In [ ]:
data2.index

In [ ]:
data2.unstack() #누락된 데이터 생길 수 있음

In [ ]:
# data2.stack() #시리즈는 stack()을 못함

In [ ]:
data2.unstack().stack()

In [ ]:
data2.unstack().stack(dropna=False)

In [ ]:
result

In [ ]:
df = pd.DataFrame({'left': result, 'right': result + 5},
                  columns=pd.Index(['left', 'right'], name='side'))
df

In [ ]:
df.unstack('state')

In [ ]:
df.unstack('state').stack('side')

In [ ]:
df

In [ ]:
df2 = df.unstack('state')
df2

In [ ]:
df2.stack()

In [ ]:
df2.stack(0)

### Pivoting “Long” to “Wide” Format

In [2]:
data = pd.read_csv('examples/macrodata.csv')
data.head()

,year,quarter,realgdp,realcons,realinv,realgovt,realdpi,cpi,m1,tbilrate,unemp,pop,infl,realint
0,1959.0,1.0,2710.349,1707.4,286.898,470.045,1886.9,28.98,139.7,2.82,5.8,177.146,0.00,0.00
1,1959.0,2.0,2778.801,1733.7,310.859,481.301,1919.7,29.15,141.7,3.08,5.1,177.830,2.34,0.74
2,1959.0,3.0,2775.488,1751.8,289.226,491.260,1916.4,29.35,140.5,3.82,5.3,178.657,2.74,1.09
3,1959.0,4.0,2785.204,1753.7,299.356,484.052,1931.3,29.37,140.0,4.33,5.6,179.386,0.27,4.06
4,1960.0,1.0,2847.699,1770.5,331.722,462.199,1955.5,29.54,139.6,3.50,5.2,180.007,2.31,1.19

In [4]:
data.shape

(203, 14)

In [5]:
# 시간간격을 나타내기 위한 자료형, 년도와 분기 칼럼을 합치는 작업
periods = pd.PeriodIndex(year=data.year, quarter=data.quarter, name='date')
periods

PeriodIndex(['1959Q1', '1959Q2', '1959Q3', '1959Q4', '1960Q1', '1960Q2',
             '1960Q3', '1960Q4', '1961Q1', '1961Q2',
             ...
             '2007Q2', '2007Q3', '2007Q4', '2008Q1', '2008Q2', '2008Q3',
             '2008Q4', '2009Q1', '2009Q2', '2009Q3'],
            dtype='period[Q-DEC]', name='date', length=203, freq='Q-DEC')

In [6]:
columns = pd.Index(['realgdp', 'infl', 'unemp'], name='item')
columns

Index(['realgdp', 'infl', 'unemp'], dtype='object', name='item')

In [9]:
data = data.reindex(columns=columns) # 지정된 열에 없는 것은 제외

In [10]:
data.index = periods.to_timestamp('D', 'end')
data.head()

item                            realgdp  infl  unemp
date
1959-03-31 23:59:59.999999999  2710.349  0.00    5.8
1959-06-30 23:59:59.999999999  2778.801  2.34    5.1
1959-09-30 23:59:59.999999999  2775.488  2.74    5.3
1959-12-31 23:59:59.999999999  2785.204  0.27    5.6
1960-03-31 23:59:59.999999999  2847.699  2.31    5.2

In [12]:
data2 = data.stack()
data2.head(6)

date                           item
1959-03-31 23:59:59.999999999  realgdp    2710.349
                               infl          0.000
                               unemp         5.800
1959-06-30 23:59:59.999999999  realgdp    2778.801
                               infl          2.340
                               unemp         5.100
dtype: float64

In [28]:
ldata = data.stack().reset_index()
ldata.head()

                           date     item         0
0 1959-03-31 23:59:59.999999999  realgdp  2710.349
1 1959-03-31 23:59:59.999999999     infl     0.000
2 1959-03-31 23:59:59.999999999    unemp     5.800
3 1959-06-30 23:59:59.999999999  realgdp  2778.801
4 1959-06-30 23:59:59.999999999     infl     2.340

In [30]:
ldata = data.stack().reset_index().rename(columns={0: 'value'})
ldata.head()

                           date     item     value
0 1959-03-31 23:59:59.999999999  realgdp  2710.349
1 1959-03-31 23:59:59.999999999     infl     0.000
2 1959-03-31 23:59:59.999999999    unemp     5.800
3 1959-06-30 23:59:59.999999999  realgdp  2778.801
4 1959-06-30 23:59:59.999999999     infl     2.340

In [31]:
pivoted = ldata.pivot('date', 'item', 'value')
pivoted.head()

item                           infl   realgdp  unemp
date
1959-03-31 23:59:59.999999999  0.00  2710.349    5.8
1959-06-30 23:59:59.999999999  2.34  2778.801    5.1
1959-09-30 23:59:59.999999999  2.74  2775.488    5.3
1959-12-31 23:59:59.999999999  0.27  2785.204    5.6
1960-03-31 23:59:59.999999999  2.31  2847.699    5.2

In [33]:
ldata['value2'] = np.random.randn(len(ldata)) # 열 value2 추가
ldata.head()

                           date     item     value    value2
0 1959-03-31 23:59:59.999999999  realgdp  2710.349  0.981007
1 1959-03-31 23:59:59.999999999     infl     0.000 -0.873717
2 1959-03-31 23:59:59.999999999    unemp     5.800 -1.015634
3 1959-06-30 23:59:59.999999999  realgdp  2778.801 -0.411244
4 1959-06-30 23:59:59.999999999     infl     2.340  1.465621

In [ ]:
ldata.pivot?

In [34]:
pivoted = ldata.pivot('date', 'item') #지정하지 않은 열은 자동으로 열이 되어 계층적 열이 됨
pivoted[:5]

                              value                    value2            \
item                           infl   realgdp unemp      infl   realgdp
date
1959-03-31 23:59:59.999999999  0.00  2710.349   5.8 -0.873717  0.981007
1959-06-30 23:59:59.999999999  2.34  2778.801   5.1  1.465621 -0.411244
1959-09-30 23:59:59.999999999  2.74  2775.488   5.3  0.752769 -0.902148
1959-12-31 23:59:59.999999999  0.27  2785.204   5.6 -0.699196 -0.524672
1960-03-31 23:59:59.999999999  2.31  2847.699   5.2 -0.930342  0.068103


item                              unemp
date
1959-03-31 23:59:59.999999999 -1.015634
1959-06-30 23:59:59.999999999 -1.006219
1959-09-30 23:59:59.999999999 -0.490509
1959-12-31 23:59:59.999999999  0.352361
1960-03-31 23:59:59.999999999  0.845400

In [35]:
pivoted['value'][:5]

item                           infl   realgdp  unemp
date
1959-03-31 23:59:59.999999999  0.00  2710.349    5.8
1959-06-30 23:59:59.999999999  2.34  2778.801    5.1
1959-09-30 23:59:59.999999999  2.74  2775.488    5.3
1959-12-31 23:59:59.999999999  0.27  2785.204    5.6
1960-03-31 23:59:59.999999999  2.31  2847.699    5.2

In [36]:
ldata.set_index(['date', 'item'])

                                           value    value2
date                          item
1959-03-31 23:59:59.999999999 realgdp   2710.349  0.981007
                              infl         0.000 -0.873717
                              unemp        5.800 -1.015634
1959-06-30 23:59:59.999999999 realgdp   2778.801 -0.411244
                              infl         2.340  1.465621
...                                          ...       ...
2009-06-30 23:59:59.999999999 infl         3.370 -0.544736
                              unemp        9.200  0.977949
2009-09-30 23:59:59.999999999 realgdp  12990.341 -0.256382
                              infl         3.560  0.510783
                              unemp        9.600  0.720283

[609 rows x 2 columns]

In [37]:
# 피벗은 set_index()로 계층적 색인을 만들고, 다시 unstack()을 사용하는 것과 동일
unstacked = ldata.set_index(['date', 'item']).unstack('item')
unstacked[:7]

                              value                    value2            \
item                           infl   realgdp unemp      infl   realgdp
date
1959-03-31 23:59:59.999999999  0.00  2710.349   5.8 -0.873717  0.981007
1959-06-30 23:59:59.999999999  2.34  2778.801   5.1  1.465621 -0.411244
1959-09-30 23:59:59.999999999  2.74  2775.488   5.3  0.752769 -0.902148
1959-12-31 23:59:59.999999999  0.27  2785.204   5.6 -0.699196 -0.524672
1960-03-31 23:59:59.999999999  2.31  2847.699   5.2 -0.930342  0.068103
1960-06-30 23:59:59.999999999  0.14  2834.390   5.2  0.844963  0.016472
1960-09-30 23:59:59.999999999  2.70  2839.022   5.6 -1.369179  0.022074


item                              unemp
date
1959-03-31 23:59:59.999999999 -1.015634
1959-06-30 23:59:59.999999999 -1.006219
1959-09-30 23:59:59.999999999 -0.490509
1959-12-31 23:59:59.999999999  0.352361
1960-03-31 23:59:59.999999999  0.845400
1960-06-30 23:59:59.999999999  1.850834
1960-09-30 23:59:59.999999999  0.887204

### Pivoting “Wide” to “Long” Format

In [ ]:
df = pd.DataFrame({'key': ['foo', 'bar', 'baz'],
                   'A': [1, 2, 3],
                   'B': [4, 5, 6],
                   'C': [7, 8, 9]})
df

In [ ]:
pd.melt?

In [ ]:
melted = pd.melt(df, ['key'])
melted

In [ ]:
melted.index

In [ ]:
reshaped = melted.pivot('key', 'variable', 'value')
reshaped

In [ ]:
reshaped.reset_index()

In [ ]:
df

In [ ]:
pd.melt(df, id_vars=['key'], value_vars=['A', 'B'])

In [ ]:
pd.melt(df, value_vars=['A', 'B', 'C'])

In [ ]:
pd.melt(df, value_vars=['key', 'A', 'B'])

## Conclusion

## 보강

In [ ]:
data = {
    "도시": ["서울", "서울", "서울", "부산", "부산", "부산", "인천", "인천"],
    "연도": ["2015", "2010", "2005", "2015", "2010", "2005", "2015", "2010"],
    "인구": [9904312, 9631482, 9762546, 3448737, 3393191, 3512547, 2890451, 263203],
    "지역": ["수도권", "수도권", "수도권", "경상권", "경상권", "경상권", "수도권", "수도권"]
}
columns = ["도시", "연도", "인구", "지역"]
df1 = pd.DataFrame(data, columns=columns)
df1

In [ ]:
df2 = df1.pivot("도시", "연도")
df2

In [ ]:
df2.columns

In [ ]:
df1.pivot("도시", "연도", "인구")

In [ ]:
df1.set_index(["도시", "연도"])[["인구"]].unstack()

In [ ]:
df1.set_index(["도시", "연도"])

In [ ]:
df1.set_index(["도시", "연도"])['인구'].unstack()

In [ ]:
df1.set_index(["도시", "연도"])[["인구"]].unstack()

In [ ]:
* pivot

In [ ]:
import pandas as pd

df = pd.DataFrame([
        ['20180901', 'A',   10],
        ['20180901', 'B',  100],
        ['20180901', 'C', 1000],
        ['20180902', 'A',   20],
        ['20180902', 'B',  200],
        ['20180902', 'C', 2000],
        ['20180903', 'A',   30],
        ['20180903', 'B',  300],
        ['20180903', 'C', 3000],
], columns=['date', 'typecode', 'volume'])
df

In [ ]:
df_pivoted = df.pivot(index='date', columns='typecode', values='volume' )
df_pivoted

In [ ]:
df_pivoted.columns.values

In [ ]:
df_pivoted.columns = df_pivoted.columns.values
df_pivoted

In [ ]:
df_pivoted.reset_index(level=0, inplace=True)
df_pivoted

In [ ]:
df_pivoted.unstack()

* melt

In [ ]:
df = pd.DataFrame({'A': {0: 'a', 1: 'b', 2: 'c'},
                   'B': {0: 1, 1: 3, 2: 5},
                   'C': {0: 2, 1: 4, 2: 6}})
df

In [ ]:
pd.melt(df, id_vars=['A'], value_vars=['B'])

In [ ]:
pd.melt(df, id_vars=['A'], value_vars=['B', 'C'])

In [ ]:
df = pd.DataFrame({'A': {0: 'a', 1: 'b', 2: 'c'},
                   'B': {0: 1, 1: 3, 2: 5},
                   'C': {0: 2, 1: 4, 2: 6}})
df

In [ ]:
df.columns = [list('ABC'), list('DEF')]
df

In [ ]:
df.melt(col_level=0, id_vars=['A'], value_vars=['B'])

In [ ]:
df.melt(col_level=0, id_vars=['A'], value_vars=['B'])

In [ ]:
df.melt(id_vars=[('A', 'D')], value_vars=[('B', 'E')])

In [ ]:
mydf = pd.DataFrame({'이름': ['홍길동', '임걱정', '아무개'],
                   '영어': [99, 79, 55],
                   '수학': [92, 82, 72]})
mydf

In [ ]:
mydf.melt()

In [ ]:
mydf.melt(id_vars='이름')

In [ ]:
mydf.melt(id_vars='이름', value_vars='영어')

In [ ]:
mydf.melt(id_vars='이름', value_vars='영어',
         var_name='과목', value_name='점수')

In [ ]:
mydf = pd.DataFrame({ '영어': [99, 79, 55],
                    '수학': [92, 82, 72]}, 
                   index = ['홍길동', '임걱정', '아무개'])
mydf

In [ ]:
mydf.melt()

In [ ]:
mydf.melt().index

# merge와 join 비교

In [ ]:
lt = pd.DataFrame([[1, 2], [10, 20]], 
                 index = list('ab'), 
                 columns = list('AB'))
lt

In [ ]:
rt = pd.DataFrame([[1, 2], [100, 200]], 
                 index = list('ac'), 
                 columns = list('AC'))
rt

In [ ]:
lt.merge(rt)

In [ ]:
lt.merge(rt, how='outer')

In [ ]:
lt.merge(rt, how='left')

In [ ]:
lt.merge(rt, how='right')

In [ ]:
lt

In [ ]:
rt

In [ ]:
lt.join(rt, lsuffix = '_l', rsuffix = '_r')

In [ ]:
lt.join(rt, how='left', lsuffix = '_l', rsuffix = '_r')

In [ ]:
lt.join(rt, how='right', lsuffix = '_l', rsuffix = '_r')

In [ ]:
lt.join(rt, how='inner', lsuffix = '_l', rsuffix = '_r')

In [ ]:
lt.join(rt, how='outer', lsuffix = '_l', rsuffix = '_r')

In [ ]:
lt = pd.DataFrame([[0, 'a'], [1, 'b']], 
                 columns = list('AB'))
lt

In [ ]:
rt = pd.DataFrame([[0, 10], [2, 20]], 
                 index = range(0, 3, 2), 
                 columns = list('AC'))
rt

In [ ]:
lt.merge(rt)

In [ ]:
lt.merge(rt, how='outer')

In [ ]:
lt.merge(rt, how='left')

In [ ]:
lt.merge(rt, how='right')

In [ ]:
lt.join(rt, lsuffix = '_l', rsuffix = '_r')

In [ ]:
lt.join(rt, how='right', lsuffix = '_l', rsuffix = '_r')

In [ ]:
lt.join(rt, how='inner', lsuffix = '_l', rsuffix = '_r')

In [ ]:
lt.join(rt, how='outer', lsuffix = '_l', rsuffix = '_r')

In [ ]:
lt = pd.DataFrame([[99, 77], [96, 66]], 
                 index = ['홍길동', '임걱정'], 
                 columns = ['국어', '영어'])
lt

In [ ]:
rt = pd.DataFrame([[99, 10], [92, 50]], 
                 index = ['홍길동', '별주부'], 
                 columns = ['국어', '수학'])
rt

In [ ]:
lt.join(rt, lsuffix='_left')

In [ ]:
lt.merge(rt, how='left')

In [ ]:
lt

In [ ]:
rt

In [ ]:
pd.concat([lt, rt])

In [ ]:
pd.concat([lt, rt], join='outer')

In [ ]:
pd.concat([lt, rt], join='inner')

In [ ]:
pd.concat([lt, rt], axis=1)

In [ ]:
pd.concat([lt, rt], axis=1, join='outer')

In [ ]:
pd.concat([lt, rt], axis=1, join='inner')

In [ ]:
lt

In [ ]:
lt.stack()

In [ ]:
lt.stack().unstack()

In [ ]:
multicol2 = pd.MultiIndex.from_tuples([('weight', 'kg'),
                                       ('height', 'm')])
df = pd.DataFrame([[1.0, 2.0], [3.0, 4.0]],
                  index=['cat', 'dog'],
                  columns=multicol2)

In [ ]:
df

In [ ]:
df.stack()

* pivot

In [ ]:
df = pd.DataFrame({'foo': ['one', 'one', 'one', 'two', 'two', 'two'],
                   'bar': ['A', 'B', 'C', 'A', 'B', 'C'],
                   'baz': [1, 2, 3, 4, 5, 6],
                   'zoo': ['x', 'y', 'z', 'q', 'w', 't']}, 
                    index = list('abcdef'))
df

In [ ]:
df.pivot(columns='bar')

In [ ]:
df.pivot(index='foo', columns='bar')

In [ ]:
df.pivot(index='foo', columns='bar', values='baz')

In [ ]:
df.pivot_table(index='foo', columns='bar')

* reset_index

In [25]:
df = pd.DataFrame([('bird', 389.0),
                   ('bird', 24.0),
                   ('mammal', 80.5),
                   ('mammal', np.nan)],
                  index=['falcon', 'parrot', 'lion', 'monkey'],
                  columns=('class', 'max_speed'))
df

         class  max_speed
falcon    bird      389.0
parrot    bird       24.0
lion    mammal       80.5
monkey  mammal        NaN

In [26]:
df.stack()

falcon  class          bird
        max_speed       389
parrot  class          bird
        max_speed        24
lion    class        mammal
        max_speed      80.5
monkey  class        mammal
dtype: object

In [27]:
df.stack().reset_index()

  level_0    level_1       0
0  falcon      class    bird
1  falcon  max_speed     389
2  parrot      class    bird
3  parrot  max_speed      24
4    lion      class  mammal
5    lion  max_speed    80.5
6  monkey      class  mammal